<div class="window d-flex">
  <div class="search-container">

    <%= form_tag kindergartens_path, method: :get do %>
      <%= text_field_tag :address,
        params[:address],
        class: "form-control",
        placeholder: "What's your address?"
      %>
      <div>
        <%= radio_button_tag(:radius, "1") %>
        <%= label_tag(:radius_1, "1") %>
      </div>
      <div>
        <%= radio_button_tag(:radius, "2") %>
        <%= label_tag(:radius_2, "2") %>
      </div>
      <div>
        <%= radio_button_tag(:radius, "3") %>
        <%= label_tag(:radius_3, "3") %>
      </div>
      <div>
        <%= radio_button_tag(:radius, "4") %>
        <%= label_tag(:radius_4, "4") %>
      </div>
      <div>
        <%= radio_button_tag(:radius, "5") %>
        <%= label_tag(:radius_5, "5") %>
      </div>
      <%= submit_tag "Search" %>
    <% end %>
  </div>

  <div
    id="map"
    style="width: 75%;
    height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
