<% content_for :meta_title, "#{@kindergarten.name} - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="static-container">
    <h1 class="pt-3"><%= @kindergarten.name %></h1>

    <div class="d-block d-sm-flex">
      <div class="kita-details">

        <div class="kita-details-contacts">
          <p><i class="fas fa-map-marker-alt"></i> <%= @kindergarten.address %></p>
          <p><i class="fas fa-phone"></i> <%= @kindergarten.phone_number %></p>
          <% unless @kindergarten.email == "" %>
            <p><i class="far fa-envelope"></i> <%= link_to @kindergarten.email, "mailto:".concat(@kindergarten.email), class:"pib-text-link" %></p>
          <% end %>
          <% unless @kindergarten.url == "" %>
            <% if @kindergarten.url.start_with?("www") %>
              <p><i class="fas fa-angle-double-right"></i> <%= link_to 'Go to website', "http://".concat(@kindergarten.url), class:"pib-text-link", target:"_blank" %></p>
            <% else %>
              <p><i class="fas fa-angle-double-right"></i> <%= link_to 'Go to website', @kindergarten.url, class:"pib-text-link", target:"_blank" %></p>
            <% end %>
          <% end %>
        </div>

        <div class="d-none d-sm-block">

          <div class="d-flex">
            <div class="col-sm-4 pl-0">Minimum age: </div>
            <div class="col-sm-5"><%= @kindergarten.minimum_age %> months old</div>
          </div class="d-flex">
          <div class="d-flex border-top">
            <div class="col-sm-4 pl-0">Total places: </div>
            <div class="col-sm-5"><%= @kindergarten.places %></div>
          </div class="d-flex">
          <div class="d-flex border-top">
            <div class="col-sm-4 pl-0">Total places under 3 y.o.: </div>
            <div class="col-sm-5"><%= @kindergarten.places_under_three %></div>
          </div class="d-flex">
          <div class="d-flex border-top">
            <div class="col-sm-4 pl-0">Total places over 3 y.o.: </div>
            <div class="col-sm-5"><%= @kindergarten.places_over_three %></div>
          </div class="d-flex">

          <% unless @kindergarten.open_time_mon.nil? %>
            <p class="border-top">Opening times:</p>
            <div class="opening-times">
              <div class="d-flex">
                <div class="col-sm-2 text-center">Mon</div>
                <div class="col-sm-2 text-center">Tue</div>
                <div class="col-sm-2 text-center">Wed</div>
                <div class="col-sm-2 text-center">Thu</div>
                <div class="col-sm-2 text-center">Fri</div>
              </div>
              <div class="d-flex">
                <div class="col-sm-2 pr-5"><%= @kindergarten.open_time_mon %></div>
                <div class="col-sm-2 pr-5"><%= @kindergarten.open_time_tue %></div>
                <div class="col-sm-2 pr-5"><%= @kindergarten.open_time_wed %></div>
                <div class="col-sm-2 pr-5"><%= @kindergarten.open_time_thu %></div>
                <div class="col-sm-2 pr-5"><%= @kindergarten.open_time_fri %></div>
              </div>
            </div>
          <% end %>

        </div>

        <div class="d-block d-sm-none">
          <p>
            <a class="btn btn-pib mt-1 btn-short" data-toggle="collapse" href="#collapseKitaDetails" aria-expanded="false" role="button" aria-controls="collapseKitaDetails">More details about the kita</a>
          </p>
          <div class="collapse" id="collapseKitaDetails">

              <div class="d-flex">
                <div class="col-sm-4 pl-0">Minimum age: </div>
                <div class="col-sm-5 text-center"><%= @kindergarten.minimum_age %> months old</div>
              </div>
              <div class="d-flex border-top">
                <div class="col-sm-4 pl-0">Total places: </div>
                <div class="col-sm-5 text-center"><%= @kindergarten.places %></div>
              </div>
              <div class="d-flex border-top">
                <div class="col-sm-4 pl-0">Total places under 3 y.o.: </div>
                <div class="col-sm-5 my-auto text-center"><%= @kindergarten.places_under_three %></div>
              </div>
              <div class="d-flex border-top">
                <div class="col-sm-4 pl-0">Total places over 3 y.o.: </div>
                <div class="col-sm-5 my-auto text-center"><%= @kindergarten.places_over_three %></div>
              </div>

              <% unless @kindergarten.open_time_mon.nil? %>
                <div class="border-top">Opening times:</div>

                <div class="opening-times">
                  <div class="d-flex">
                    <div class="col-sm-4 pl-0">Mon</div>
                    <div class="col-sm-5"><%= @kindergarten.open_time_mon %></div>
                  </div>
                  <div class="d-flex">
                    <div class="col-sm-4 pl-0">Tue</div>
                    <div class="col-sm-5"><%= @kindergarten.open_time_tue %></div>
                  </div>
                  <div class="d-flex">
                    <div class="col-sm-4 pl-0">Wed</div>
                    <div class="col-sm-5"><%= @kindergarten.open_time_wed %></div>
                  </div>
                  <div class="d-flex">
                    <div class="col-sm-4 pl-0">Thu</div>
                    <div class="col-sm-5"><%= @kindergarten.open_time_thu %></div>
                  </div>
                  <div class="d-flex">
                    <div class="col-sm-4 pl-0">Fri</div>
                    <div class="col-sm-5"><%= @kindergarten.open_time_fri %></div>
                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div>

      <div class="map-container">
        <div
          id="map"
          style="width: 100%;
          height: 100%;"
          class="kita-show-map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>

    <div class="mt-5">
      <h4>Contact history with <%= @kindergarten.name %></h4>

      <% @kita_contacts.each_with_index do |kita_contact, i| %>
        <div class="d-flex justify-content-between mt-1">
          <div class="kita-contacts d-flex">
            <div class="kita-contacts-item col-sm-1 text-center">
              <% if kita_contact.contact_type == "call" %>
                <i class="fas fa-phone"></i>
              <% elsif kita_contact.contact_type == "email" %>
                <i class="fas fa-at"></i>
              <% elsif kita_contact.contact_type == "visit" %>
                <i class="fas fa-walking"></i>
              <% elsif kita_contact.contact_type == "other" %>
                <i class="fas fa-th-list"></i>
              <% end %>
            </div>
            <div class="kita-contacts-item kita-contacts-date col-sm-3">
              <%= kita_contact.created_at.strftime("%a %e %B - %H:%M") %>
            </div>
            <div class="kita-contacts-item col-sm-8">
              <%= kita_contact.note %>
            </div>
          </div>
          <div class="d-flex my-auto" style:"width: 50px;">
            <div>
              <a class='btn-icon btn-dark' role="button" data-toggle="collapse" href="#collapseEdit<%= i %>" aria-expanded="false" aria-controls="collapseEdit<%= i %>">
                <i class="fas fa-edit"></i>
              </a>
            </div>

            <div>
              <%= link_to kita_contact_path(kita_contact),
              method: :delete,
              data: { confirm: "Are you sure?" }, class:'btn-icon btn-pink' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="collapse" id="collapseEdit<%= i %>">
          <%= simple_form_for kita_contact, :url => kita_contact_path(kita_contact), :method => :patch do |f| %>
              <div class="form-inline form-new-contact">
                <div class="form-group">
                  <%= f.input :contact_type,
                  collection: %w(call email visit other),
                  input_html: { class: "form-control" },
                  label: false %>
                  <%= f.input :created_at, as: :string, input_html: { class: "form-control datepicker-update" }, label: false %>
                  <%= f.input :note, input_html: { style: 'height:40px;', class: "form-control",
                    placeholder: 'Add a note',
                    rows: 1 },
                  label: false %>
                </div>
                <%= f.submit "Edit", class: "m-auto btn-pib-dark btn-short" %>
              </div>
            <% end %>
        </div>
      <% end %>

      <div class="my-4">
        <h5>Add a new contact:</h5>

        <% if current_user %>

          <%= render "kita_contacts/new" %>

          <h5 class="mt-4">Add a reminder:</h5>
          <%= render "kita_reminders/new" %>

        <% else %>

          <p class="font-dark-blue">Log in or Sign up to be able to add notes about your contact history</p>

          <%= link_to "Log in", new_user_session_path, class: "btn-pib" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn-pib" %>

        <% end %>
      </div>

    </div>
  </div>
</div>
