<div class="container">
  <div class="static-container">
    <div class="offset-sm-3 col-sm-6">

      <h2 class="pt-3">Forgot your password?</h2>

      <div class="form-pib">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", class:"form-control" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", class:"btn-pib-dark" %>
          </div>
        <% end %>

      </div>

      <div class="form-links-pib">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>

