<% unless current_user %>

  <div class="navbar navbar-dark navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-baby"> <span class="pib-font">Pregnant in Berlin</span></i>
    <% end %>
    <div>
      <%= link_to "Log in", new_user_session_path, class: "btn-pib-dark" %>
    </div>
  </div>

<% else %>

  <div class="navbar navbar-dark navbar-lewagon">
    <%= link_to "/", class: "navbar-brand" do %>
      <i class="fas fa-baby"> <span class="pib-font">Pregnant in Berlin</span></i>
    <% end %>

    <div class="navbar-links">

      <div class="d-flex">
        <%= link_to "Dashboard", "/dashboard" %>
        <% if KitaReminder.any_today?(current_user) %>
          <div class="navbar-badge">#</div>
        <% end %>
      </div>

      <%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %>

    </div>
  </div>

<% end %>

