<div class="banner text-center" style="background-image: linear-gradient(rgba(234,234,234,0.4),rgba(255,255,255,0.4)), url(https://images.unsplash.com/photo-1444838639505-f9042c5d2386?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80)">

  <div class="d-none d-sm-block">
    <div class="banner-title">
      <h1>Pregnant in Berlin</h1>
    </div>

    <div class="banner-subline">
      <p>The guide book for expecting parents living in Berlin</p>
    </div>

    <div class="banner-links">
      <div class="banner-links-container">
        <div>
          <p>Looking for?</p>
          <%= link_to 'Midwives', '#', class:'btn-pib' %>
          <%= link_to 'Kitas', kindergartens_path, class:'btn-pib' %>
          <%= link_to 'Pediatricians', '#', class:'btn-pib' %>
        </div>
        <div class="mt-4 timeline-link">
          <p>Check our pregnancy timeline and see what to look for at each step of your pregnancy</p>
          <%= link_to 'Timeline', "/#timeline", class:'btn-pib' %>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block d-sm-none">
    <div class="banner-title-small">
      <h2>Pregnant in Berlin</h2>
    </div>

    <div class="banner-subline-small">
      <p>The guide book for expecting parents living in Berlin</p>
    </div>

    <div class="banner-links-small">
      <div class="banner-links-container">
        <div>
          <p>Looking for?</p>
          <div class="d-block">
            <div class="mb-3"><%= link_to 'Midwives', '#', class:'btn-pib' %></div>
            <div class="mb-3"><%= link_to 'Kitas', kindergartens_path, class:'btn-pib' %></div>
            <div><%= link_to 'Pediatricians', '#', class:'btn-pib' %></div>
          </div>
        </div>
        <div class="mt-4 timeline-link">
          <p>Check our pregnancy timeline and see what to look for at each step of your pregnancy</p>
          <%= link_to 'Timeline', "/#timeline", class:'btn-pib' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="timeline">
  <div class="d-none d-sm-block">
    <div class="timeline-header">
      <h2>Timeline</h2>
      <p>What to look for at each month of your pregnancy</p>
    </div>

    <div class="timeline-content">
       <ul class="timeline">
          <li>
            <div class="timeline-badge pink">1</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-badge yellow">2</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-badge dark-blue">3</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-badge pink">4</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-badge yellow">5</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-badge dark-blue">6</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-badge pink">7</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-badge yellow">8</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-badge dark-blue">9</div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>

  <div class="d-block d-sm-none">
    <div class="timeline-header">
      <h2>Timeline</h2>
      <p>What to look for at each month of your pregnancy</p>
    </div>

    <div class="timeline-content-small">
      <ul class="timeline-small">
        <li>
          <div class="timeline-badge-small pink">1</div>
          <div class="timeline-panel-small">
            <div class="timeline-heading-small">
              <h4 class="timeline-title-small">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body-small">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge-small yellow">2</div>
          <div class="timeline-panel-small">
            <div class="timeline-heading-small">
              <h4 class="timeline-title-small">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body-small">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge-small dark-blue">3</div>
          <div class="timeline-panel-small">
            <div class="timeline-heading-small">
              <h4 class="timeline-title-small">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body-small">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge-small pink">4</div>
          <div class="timeline-panel-small">
            <div class="timeline-heading-small">
              <h4 class="timeline-title-small">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body-small">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge-small yellow">5</div>
          <div class="timeline-panel-small">
            <div class="timeline-heading-small">
              <h4 class="timeline-title-small">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body-small">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge-small dark-blue">6</div>
          <div class="timeline-panel-small">
            <div class="timeline-heading-small">
              <h4 class="timeline-title-small">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body-small">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge-small pink">7</div>
          <div class="timeline-panel-small">
            <div class="timeline-heading-small">
              <h4 class="timeline-title-small">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body-small">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge-small yellow">8</div>
          <div class="timeline-panel-small">
            <div class="timeline-heading-small">
              <h4 class="timeline-title-small">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body-small">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge-small dark-blue">9</div>
          <div class="timeline-panel-small">
            <div class="timeline-heading-small">
              <h4 class="timeline-title-small">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body-small">
              <p>Lorem ipsum</p>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
