<div class="home-wrap">
  <div class="d-none d-sm-block">
    <div class="banner text-center">
      <div class="banner-title">
        <h1>Pregnant in Berlin</h1>
      </div>

      <div class="banner-subline">
        <h3>The guide book for expecting parents living in Berlin</h3>
        <p><i>Pregnant in Berlin</i> will help you navigate through the intricate German administration and health care system, during your pregnancy and beyond!</p>
        <div class="banner-icons">
          <div class="d-flex justify-content-around">
            <%= image_tag("pregnant.svg", height: '60') %>
            <%= image_tag("baby.svg", height: '60') %>
            <%= image_tag("family.svg", height: '60') %>
          </div>
        </div>
      </div>


      <div class="banner-links">
        <div class="banner-links-container">
          <p>Our timeline will give you a quick overview of what you should be looking into at which point of your pregnancy. So, tell us:</p>
          <div class="dropdown dropright">
            <button class="btn btn-pib-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              In which month of your pregnancy are you?
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to '1st month', "#month-1", class:"dropdown-item" %>
              <%= link_to '2nd month', "#month-2", class:"dropdown-item" %>
              <%= link_to '3rd month', "#month-3", class:"dropdown-item" %>
              <%= link_to '4th month', "#month-4", class:"dropdown-item" %>
              <%= link_to '5th month', "#month-5", class:"dropdown-item" %>
              <%= link_to '6th month', "#month-6", class:"dropdown-item" %>
              <%= link_to '7th month', "#month-7", class:"dropdown-item" %>
              <%= link_to '8th month', "#month-8", class:"dropdown-item" %>
              <%= link_to '9th month', "#month-9", class:"dropdown-item" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block d-sm-none pb-3">
    <div class="banner text-center">
      <div class="banner-title-small">
        <h2>Pregnant in Berlin</h2>
      </div>

      <div class="banner-subline-small">
        <h3>The guide book for expecting parents living in Berlin</h3>
        <p><i>Pregnant in Berlin</i> will help you navigate through the intricate German administration and health care system, during your pregnancy and beyond!</p>
        <div class="banner-icons">
          <div class="d-flex justify-content-around">
            <%= image_tag("pregnant.svg", height: '60') %>
            <%= image_tag("baby.svg", height: '60') %>
            <%= image_tag("family.svg", height: '60') %>
          </div>
        </div>
      </div>

      <div class="banner-links-small">
        <div class="mt-3 banner-links-container">
          <p class="mb-4">Our timeline will give you a quick overview of what you should be looking into at which point of your pregnancy. So, let us know at which month of your pregnancy you are:</p>
          <div>
            <div class="dropdown">
              <button class="btn btn-pib-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Which month?
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to '1st month', "#month1", class:"dropdown-item" %>
                <%= link_to '2nd month', "#month2", class:"dropdown-item" %>
                <%= link_to '3rd month', "#month3", class:"dropdown-item" %>
                <%= link_to '4th month', "#month4", class:"dropdown-item" %>
                <%= link_to '5th month', "#month5", class:"dropdown-item" %>
                <%= link_to '6th month', "#month6", class:"dropdown-item" %>
                <%= link_to '7th month', "#month7", class:"dropdown-item" %>
                <%= link_to '8th month', "#month8", class:"dropdown-item" %>
                <%= link_to '9th month', "#month9", class:"dropdown-item" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="timeline">
    <div class="container">
      <div class="d-none d-sm-block">
        <div class="timeline-header">
          <h2>Timeline</h2>
          <p>What to look for at each month of your pregnancy</p>
        </div>

        <div class="timeline-content">
           <ul class="timeline">
              <li id="month-1">
                <div class="timeline-badge pink">1</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">You're pregnant, congratulations!</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Your pregnancy test just told you the good news? Your first step must be to plan a visit at your gynecologist!</p>
                  </div>
                </div>
              </li>

              <li id="month-2" class="timeline-inverted">
                <div class="timeline-badge yellow">2</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Time to start looking for a midwife</h4>
                  </div>
                  <div class="timeline-body">
                    <p>The midwife situation in Berlin is pretty complicated. The German health system allows you to be looked after by a <%= link_to "midwife", midwife_system_path %> before, during and after the birth. However if you want to be sure to have one, you already have to start looking for one. Same goes in case you're already planning to give birth in a <i>Geburtshaus</i> - a place to give birth that isn't a hospital.</p>
                  </div>
                </div>
              </li>

              <li id="month-3">
                <div class="timeline-badge dark-blue">3</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Let the world know!</h4>
                  </div>
                  <div class="timeline-body">
                    <p>You're 3 months pregnant already, what a luck! Hopefully the nausea are gone now! Now it is time to tell your employer.</p>
                  </div>
                </div>
              </li>

              <li id="month-4" class="timeline-inverted">
                <div class="timeline-badge pink">4</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Look into hospitals</h4>
                  </div>
                  <div class="timeline-body">
                    <p>If you prefer to give birth in a hospital, you should now have a look into the ones around you. Most offer <i>Infoabend</i> - a meeting where the hospital staff introduces itself and tells you more about the hospital policy and view on birth. Some hospitals like Westend even require future parents to register themselves as soon as possible, which is why it is advised to inquire from now on about hospitals to make sure to have all options still available.</p>
                  </div>
                </div>
              </li>

              <li id="month-5">
                <div class="timeline-badge yellow">5</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Prenatal classes</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Midwives, <i>Geburtshaus</i> or hospitals offer prenatal classes for both parents. They are very useful to attend as a couple as they provide many tips and help for what comes before, during and after the birth.</p>
                  </div>
                </div>
              </li>

              <li id="month-6" class="timeline-inverted">
                <div class="timeline-badge dark-blue">6</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Child care</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Berlin has a current lack of kindergarten spots, so you should start going on a hunt for one of them. Kindergartens are more commonly called <i>kitas</i> in Germany. Here is our <%= link_to 'kita', kitas_path %> page to help you find the one that fits you best.</p>
                    <p>Once your baby will be born, you will need to visit the pediatrician. You can already call the pediatricians around you to see if they still take new patients.</p>
                    <p>Finally for this month, if you and your partner aren't married, the father will have to <%= link_to "acknowledge paternity", paternity_acknowledgment_path %> (<i>Vaterschaftanerkennung</i>) and the mother will have to grant him rights over the child (<i>Sorgerecht</i>). Since it requires both parents to go to the <i>Jugendamt</i>, it does make sense to do it before the birth.</p>
                  </div>
                </div>
              </li>

              <li id="month-7">
                <div class="timeline-badge pink">7</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Paperwork</h4>
                  </div>
                  <div class="timeline-body">
                    <p>This month is the paperwork month! Firstly, the mother should warn her health insurance that she will soon enter maternity leave. Your gynecologist will deliver you an official piece of paper that states the due date. It should be sent to your health insurance about 8 weeks before said due date.</p>
                    <p>Because you won't have so much time to deal with it once your baby is there, discuss with your partner about parental leave (<i>Elternzeit</i> in German) and start filling the different forms.</p>
                  </div>
                </div>
              </li>

              <li id="month-8" class="timeline-inverted">
                <div class="timeline-badge yellow">8</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Prepare the birth</h4>
                  </div>
                  <div class="timeline-body">
                    <p>The birth of your baby is getting closer and closer! If you're delivering your baby at the hospital, do not forget to pack a bag of all the things you will need during your stay there. Moreover some hospitals offer the possibility to declare the birth of your child directly on their premises, so don't forget to pack as well all the documents that are necessary.</p>
                  </div>
                </div>
              </li>

              <li id="month-9">
                <div class="timeline-badge dark-blue">9</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Prepare what comes next</h4>
                  </div>
                  <div class="timeline-body">
                    <p>These are the very last moments before your baby arrives. If you still have enough time and energy, you can wash your baby clothes in case they are new. What's a nice add is to actually cook some meals that you will freeze: the first days back home can prove rather stressful, and having tasty homemade meals that just need to be rewarmed can be a real life-saver!</p>
                  </div>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </div>

    <div class="d-block d-sm-none">
      <div class="timeline-header">
        <h2>Timeline</h2>
        <p>What to look for at each month of your pregnancy</p>
      </div>

      <div class="timeline-content-small">
        <ul class="timeline-small">
          <li id="month1">
            <div class="timeline-badge-small pink">1</div>
            <div class="timeline-panel-small">
              <div class="timeline-heading-small">
                <h4 class="timeline-title-small">You're pregnant, congratulations!</h4>
              </div>
              <div class="timeline-body-small">
                <p>Your pregnancy test just told you the good news? Your first step must be to plan a visit at your gynecologist!</p>
              </div>
            </div>
          </li>

          <li id="month2">
            <div class="timeline-badge-small yellow">2</div>
            <div class="timeline-panel-small">
              <div class="timeline-heading-small">
                <h4 class="timeline-title-small">Time to start looking for a midwife</h4>
              </div>
              <div class="timeline-body-small">
                <p>The midwife situation in Berlin is pretty complicated. The German health system allows you to be looked after by a <%= link_to "midwife", midwife_system_path %> before, during and after the birth. However if you want to be sure to have one, you already have to start looking for one. Same goes in case you're already planning to give birth in a <i>Geburtshaus</i> - a place to give birth that isn't a hospital.</p>
              </div>
            </div>
          </li>

          <li id="month3">
            <div class="timeline-badge-small dark-blue">3</div>
            <div class="timeline-panel-small">
              <div class="timeline-heading-small">
                <h4 class="timeline-title-small">Let the world know!</h4>
              </div>
              <div class="timeline-body-small">
                <p>You're 3 months pregnant already, what a luck! Hopefully the nausea are gone now! Now it is time to tell your employer.</p>
              </div>
            </div>
          </li>

          <li id="month4">
            <div class="timeline-badge-small pink">4</div>
            <div class="timeline-panel-small">
              <div class="timeline-heading-small">
                <h4 class="timeline-title-small">Look into hospitals</h4>
              </div>
              <div class="timeline-body-small">
                <p>If you prefer to give birth in a hospital, you should now have a look into the ones around you. Most offer <i>Infoabend</i> - a meeting where the hospital staff introduces itself and tells you more about the hospital policy and view on birth. Some hospitals like Westend even require future parents to register themselves as soon as possible, which is why it is advised to inquire from now on about hospitals to make sure to have all options still available.</p>
              </div>
            </div>
          </li>

          <li id="month5">
            <div class="timeline-badge-small yellow">5</div>
            <div class="timeline-panel-small">
              <div class="timeline-heading-small">
                <h4 class="timeline-title-small">Prenatal classes</h4>
              </div>
              <div class="timeline-body-small">
                <p>Midwives, <i>Geburtshaus</i> or hospitals offer prenatal classes for both parents. They are very useful to attend as a couple as they provide many tips and help for what comes before, during and after the birth.</p>
              </div>
            </div>
          </li>

          <li id="month6">
            <div class="timeline-badge-small dark-blue">6</div>
            <div class="timeline-panel-small">
              <div class="timeline-heading-small">
                <h4 class="timeline-title-small">Child care</h4>
              </div>
              <div class="timeline-body-small">
                <p>Berlin has a current lack of kindergarten spots, so you should start going on a hunt for one of them. Kindergartens are more commonly called <i>kitas</i> in Germany. Here is our <%= link_to 'kita', kitas_path %> page to help you find the one that fits you best.</p>
                <p>Once your baby will be born, you will need to visit the pediatrician. You can already call the pediatricians around you to see if they still take new patients.</p>
                <p>Finally for this month, if you and your partner aren't married, the father will have to <%= link_to "acknowledge paternity", paternity_acknowledgment_path %> (<i>Vaterschaftanerkennung</i>) and the mother will have to grant him rights over the child (<i>Sorgerecht</i>). Since it requires both parents to go to the <i>Jugendamt</i>, it does make sense to do it before the birth.</p>
              </div>
            </div>
          </li>

          <li id="month7">
            <div class="timeline-badge-small pink">7</div>
            <div class="timeline-panel-small">
              <div class="timeline-heading-small">
                <h4 class="timeline-title-small">Paperwork</h4>
              </div>
              <div class="timeline-body-small">
                <p>This month is the paperwork month! Firstly, the mother should warn her health insurance that she will soon enter maternity leave. Your gynecologist will deliver you an official piece of paper that states the due date. It should be sent to your health insurance about 8 weeks before said due date.</p>
                <p>Because you won't have so much time to deal with it once your baby is there, discuss with your partner about parental leave (<i>Elternzeit</i> in German) and start filling the different forms.</p>
              </div>
            </div>
          </li>

          <li id="month8">
            <div class="timeline-badge-small yellow">8</div>
            <div class="timeline-panel-small">
              <div class="timeline-heading-small">
                <h4 class="timeline-title-small">Prepare the birth</h4>
              </div>
              <div class="timeline-body-small">
                <p>The birth of your baby is getting closer and closer! If you're delivering your baby at the hospital, do not forget to pack a bag of all the things you will need during your stay there. Moreover some hospitals offer the possibility to declare the birth of your child directly on their premises, so don't forget to pack as well all the documents that are necessary.</p>
              </div>
            </div>
          </li>

          <li id="month9">
            <div class="timeline-badge-small dark-blue">9</div>
            <div class="timeline-panel-small">
              <div class="timeline-heading-small">
                <h4 class="timeline-title-small">Prepare what comes next</h4>
              </div>
              <div class="timeline-body-small">
                <p>These are the very last moments before your baby arrives. If you still have enough time and energy, you can wash your baby clothes in case they are new. What's a nice add is to actually cook some meals that you will freeze: the first days back home can prove rather stressful, and having tasty homemade meals that just need to be rewarmed can be a real life-saver!</p>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
