<% content_for :meta_title, "Kita Finder - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="static-container kita-finder-container">
    <h1 class="text-center py-5" style="font-size: 60px;">Kita Finder</h1>
    <p class="mb-5 d-block mx-auto">Our Kita Finder will help you locate all kitas around your home. Enter your preferences below, click on "Search" and start your hunt for the perfect kita!</p>

    <div class="kita-finder-form form-container offset-sm-3 col-sm-6 border rounded-sm mb-3">
      <%= form_tag kindergartens_path, method: :get, class:"mb-3" do %>
        <%= text_field_tag :address,
          params[:address],
          class: "form-control mt-3",
          placeholder: "What's your address?"
        %>

        <p>Search radius (in km):</p>
        <%= select_tag :radius, options_for_select([1, 2, 5, 10, 20, 30]), class:"form-control" %>

        <p>Minimum age (in months):</p>
        <%= select_tag :minimum_age, options_for_select(["all", 6, 12, 18]),class:"form-control" %>

        <p>Kita size (in nb of total kids)</p>
        <%= select_tag :places,
          "<option>all</option>
          <option>< 20</option>
          <option>20 - 50</option>
          <option>50 - 100</option>
          <option>> 100</option>". html_safe, class:"form-control" %>

        <%= submit_tag "Search", class: "btn-pib-dark d-block mt-3 mx-auto", style: "width: 120px;" %>
      <% end %>
    </div>
  </div>
</div>
