<% content_for :meta_title, "Kita system - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="static-container pages-container">
    <h1>Understanding the German kita system</h1>

    <h2>What is a kita?</h2>
    <p>In Germany, school starts at the age of 6. If parents are looking for children day care before their children reach that age, the most frequent solution are the <i>Kindertagesstätte</i>, more commonly known as kitas.</p>
    <p>Each kita is divided into two parts. The first one is the <strong>Kinderkrippe</strong> and takes care of children below the age of 3. Even if many kitas claim to accept children as young as 8 weeks old on their website, most of them are reluctant to have small babies and prefer to have children that are at least 1 year old. For children between the age of 3 and 6, the <strong>Kindergarten</strong> is where they will be cared for.</p>
    <p>Kitas come in all shapes and forms and parents should pay attention to certain elements before applying. For instance, each kita puts an <strong>emphasis on different aspects of education</strong>, among which are: languages (some kitas are officially bilingual or even multilingual), religion, diet (vegetarian, organic...), integration, nature and so much more. Some also follow a certain educational concept such as Montessori or Waldorf.</p>

    <div class="box-pib">
      <h3>Kita finder</h3>
      <p>The <strong>Kita Finder</strong> is a tool that allows you to check the kitas in your area and lets you add notes and comments about the kitas you have contacted.</p>
      <p>Check the kitas located around you by entering your address and clicking on 'Search'.</p>

      <%= form_tag kindergartens_path, method: :get, class:"mb-3" do %>
        <%= text_field_tag :address,
          params[:address],
          class: "form-control",
          placeholder: "What's your address?"
        %>
        <%= submit_tag "Search", class: "btn-pib-dark mt-2" %>
      <% end %>
    </div>

    <h2>The Kita Gutschein</h2>
    <p>German states all have different regulations concerning children day care. Berlin offers a <strong>free day care system</strong> from which parents can benefit through a <i>Gutschein</i> (voucher). This Gutschein can be valid for <i>Halbstags</i> (4 to 5 hours a day), <i>Teilzeit</i> (5 to 7 hours a day), <i>Ganztags</i> (7 to 9 hours a day) or <i>Erweitere Ganztags</i> (more than 9 hours a day) depending on your situation.</p>
    <p>Do note that even though kitas are free in Berlin, you will usually have to <strong>pay a monthly fee that covers lunch</strong> (around 23€ per month). You might also have to pay extra if the kita in which your child is enrolled offers specific activites or services, such as sports, organic food or language classes, but these costs are officially limited to 90€ a month. Moreover kitas have to be able to provide free of charge places and you have the right to cancel your suscription to these extra activities with a month notice before the end of the month. The EKT (of which we will talk later about) are the only kitas that are an exception to this rule.</p>
    <p>The Gutschein are provided by the <i>Jugendamt</i>, which will ask from parents their need of day care. However, <strong>if the child is at least 1 year old, a Teilzeit Gutschein (5 to 7 hours a day) will be provided regardless of the parents' professional situation</strong>. Moreover, having access to day care passed the age of 1 is officially a right and legal actions can be pushed forward if the parents have not managed to find a spot.</p>
    <p>To apply for a Gutschein, you will have to <strong>go to the Jugendamt of your residential district</strong>. It can be asked for at the earliest 9 months before the desired start of care or 2 months after at the latest. You can also apply online for your Kita Gutschein through this <%= link_to "online formular", "https://fms.verwalt-berlin.de/kita/frm/main?execution=e1s2", target:"_blank", class:"pib-text-link" %></p>

    <h2>How to contact a kita</h2>
    <p>Getting in touch with kitas can prove difficult and time-consuming. This is all the more true that <strong>each has a different approach to the process</strong>. Some will want you to join a collective visit of their facilies right from the start, others will only offer you a visit much later on. Some claim they prefer parents to come directly to the kita to introduce themselves (check the kita website for <i>Sprechzeiten</i>, which is the opening times for meeting and talking with parents), others don't want to be disturbed and prefer parents calling them or sending them an email. Finally, there are some kitas that will accept to put unborn children on their waiting lists and others that don't.</p>
    <p>There is sadly no proper guideline about the best way to get on a kita's waiting list. You will have to contact them each individually and check what is their policy regarding the process. Once you're on a waiting list, <strong>don't forget to call them every 2 months</strong> to remind them of your interest. Indeed, many parents put their child simultaneously on numerous waiting lists and tend not to warn the other kitas once they've been accepted to one. Make sure your kitas do not think you're one of these parents and erase you from their lists after not hearing from you in a while.</p>

    <h2>Other types of children day care</h2>
    <p>Even if kitas are the most typical type of day care, finding a spot can be complicated, but alternatives exist.</p>
    <p>The <strong><i>Tagesmütter</i> or <i>Tageseltern</i> (German equivalent to nannies)</strong> can take care of around 3 to 5 children at a time. Sometimes they pair up to be able to look after 6 to 10 kids. They accept children from a young age, but do not look after children older than 3 - parents will then need to find a kita for the remaining years before school.</p>
    <p>The <strong><i>EKT - Eltern Initiativ Kindertagesstätte</i> are kitas that are run collectively by parents and carers</strong>. They can also be referred to as <i>Kinderladen</i>. They are not as big as kitas, which can be beneficial to the children, and parents have a certain control over the way the kita operates. But they do require some extra time from the parents (cleaning the premises, preparing lunch) and tend to have shorter opening hours. They are not recommended for families where both parents work full-time.</p>

    <div class="box-pib">
      <h3>Going further</h3>
      <p>Here are some links to the city official website:</p>
      <ul class="list-pib list-arrow">
        <li><%= link_to "Kostenbeteiligung und Zuzahlungen", "https://www.berlin.de/sen/jugend/familie-und-kinder/kindertagesbetreuung/kostenbeteiligung/", target:"_blank", class:"pib-text-link" %></li>
        <li><%= link_to "Anmeldung zur Kindertagesbetreuung", "https://www.berlin.de/sen/jugend/familie-und-kinder/kindertagesbetreuung/anmeldung/", target:"_blank", class:"pib-text-link" %></li>
        <li><%= link_to "Kita Gutschein Details und Online-Antrag", "https://fms.verwalt-berlin.de/kita/frm/main?execution=e1s2", target:"_blank", class:"pib-text-link" %></li>
      </ul>
    </div>


  </div>
</div>
