<div class="container">
  <div class="static-container">
    <h1 class="pt-3">All my kita contacts</h1>

    <% if @kitas.empty? %>

      <p><i>You don't have any kita details for the moment. You can check the kitas near you on our map by entering your address and clicking on 'Search"</i></p>

      <%= form_tag kindergartens_path, method: :get, class:"mb-3" do %>
        <%= text_field_tag :address,
          params[:address],
          class: "form-control",
          placeholder: "What's your address?"
        %>
        <%= submit_tag "Search", class: "btn-pib-dark mt-2" %>
      <% end %>

    <% else %>

      <% @kitas.each do |k| %>
        <div class="mt-4">
          <h3><%= link_to k.name, kindergarten_path(k), class: "pib-text-link" %></h3>
          <% k.kita_contacts.where(user: current_user).order(created_at: :desc).each do |kc| %>
            <div class="kita-contacts d-flex">
              <div class="kita-contacts-item col-sm-1 text-center">
                <% if kc.contact_type == "call" %>
                  <i class="fas fa-phone"></i>
                <% elsif kc.contact_type == "email" %>
                  <i class="fas fa-at"></i>
                <% elsif kc.contact_type == "visit" %>
                  <i class="fas fa-walking"></i>
                <% elsif kc.contact_type == "other" %>
                  <i class="fas fa-th-list"></i>
                <% end %>
              </div>
              <div class="kita-contacts-item col-sm-2">
                <%= kc.created_at.strftime("%a %e %B - %H:%M") %>
              </div>
              <div class="kita-contacts-item col-sm-9">
                <%= kc.note %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
